# Skill Up #14 Python

## Introduction to Statistic Quartile, Percentile, Variance, and Standart Deviation

In [2]:
pwd

'C:\\Users\\danie\\Shift Academy Data Science Bootcamp Batch 10\\# Skill Up Python'

## Import Library

In [3]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
matplotlib.style.use('seaborn')

## Import Dataset and Quick Look

In [4]:
data = pd.read_csv('HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## Quartile

In [5]:
# Q1
data['satisfaction_level'].quantile(0.25)

0.44

In [6]:
# Q2
data['satisfaction_level'].quantile(0.50)

0.64

In [7]:
# Q3
data['satisfaction_level'].quantile(0.75)

0.82

## Interquartile (IQR)

In [12]:
# IQR 
mark = [99, 55, 75, 64, 87, 93, 60, 96, 90, 57]
mark.sort()
print(mark)
print('Mark Median or Q2:' , mark[int(len(mark)/2)])
print('Mark Q1:' , mark[int(len(mark)/4)])
print('Mark Q3:' , mark[int(len(mark)*3/4)])

[55, 57, 60, 64, 75, 87, 90, 93, 96, 99]
Mark Median or Q2: 87
Mark Q1: 60
Mark Q3: 93

## Percentile

In [8]:
# P90
data['satisfaction_level'].quantile(0.90)

0.92

In [10]:
# P95
data['satisfaction_level'].quantile(0.95)

0.96

In [11]:
# P99
data['satisfaction_level'].quantile(0.99)

0.99

## Variance

In [14]:
# Variance standart
data['satisfaction_level'].var()

2.1319978117222864

## Standard Deviation

In [17]:
data['satisfaction_level'].std()

0.2486306510611418